<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Queensland FP Lab - $title$</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/syntax.css">
        $if(extra-css)$
        $for(extra-css)$
        <link rel="stylesheet" href="$body$">
        $endfor$
        $endif$
        <link rel="alternate" type="application/atom+xml" title="Queensland Functional Programming Lab Blog" href="/atom.xml">
        <link rel="alternate" type="application/rss+xml" title="Queensland Functional Programming Lab Blog" href="/rss.xml">
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106321204-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());

            gtag('config', 'UA-106321204-1');
        </script>
    </head>
    <body>
        <header>
            <nav class="data61-green">
                <div class="nav-wrapper">
                    <div class="row">
                        <div class="col s12">
                            <a class="brand-logo" href="/">
                                <img class="nav-logo" alt="Data61 logo" src="images/DATA61_CSIRO_OnGreen_RGB_lr.jpg"/>
                            </a>

                            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                            <ul class="right hide-on-med-and-down">
                                <li role="presentation" $if(home-active)$ class="active" $endif$ ><a href="/">Home</a></li>
                                <li role="presentation" $if(location-active)$ class="active" $endif$ ><a href="/location">Location</a></li>
                                <li role="presentation" $if(people-active)$ class="active" $endif$ ><a href="/people">People</a></li>
                                <li role="presentation" $if(projects-active)$ class="active" $endif$ ><a href="/projects">Projects</a></li>
                                <li role="presentation" $if(talks-active)$ class="active" $endif$ ><a href="/talks">Talks</a></li>
                                <li role="presentation" $if(contact-active)$ class="active" $endif$ ><a href="/contact">Contact</a></li>
                                <li role="presentation" $if(archive-active)$ class="active" $endif$ ><a href="/archive">Archive</a></li>
                            </ul>
                            <ul id="nav-mobile" class="side-nav">
                                <li class="data61-green center">
                                    <img class="side-nav-logo" alt="Data61 logo" src="images/DATA61_CSIRO_OnGreen_RGB_lr.jpg"/>
                                    <h2 class="white-text">QFPL</h2>
                                </li>
                                <li role="presentation" $if(home-active)$ class="active" $endif$ ><a href="/">Home</a></li>
                                <li role="presentation" $if(location-active)$ class="active" $endif$ ><a href="/location">Location</a></li>
                                <li role="presentation" $if(people-active)$ class="active" $endif$ ><a href="/people">People</a></li>
                                <li role="presentation" $if(projects-active)$ class="active" $endif$ ><a href="/projects">Projects</a></li>
                                <li role="presentation" $if(talks-active)$ class="active" $endif$ ><a href="/talks">Talks</a></li>
                                <li role="presentation" $if(contact-active)$ class="active" $endif$ ><a href="/contact">Contact</a></li>
                                <li role="presentation" $if(archive-active)$ class="active" $endif$ ><a href="/archive">Archive</a></li>
                            </ul>
                        </span>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                $body$
            </div>
        </main>

        <footer class="page-footer data61-green lighten-1">
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <a href="https://github.com/qfpl"><i class="white-text fa fa-github fa-2x"></i></a>
                        <a href="https://twitter.com/queenslandfplab"><i class="white-text fa fa-twitter fa-2x"></i></a>
                        <a href="mailto:contact@qfpl.io"><i class="white-text fa fa-envelope-o fa-2x"></i></a>
                    </div>
                    <div class="col s6">
                        <a class="right" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright"></div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/materialize.min.js"></script>
        <script src="/js/mobile-nav-init.js"></script>
        <script src="/js/location-carousel-init.js"></script>
        $if(extra-js)$
        $for(extra-js)$
        <script src="$body$" defer></script>
        $endfor$
        $endif$
    </body>
    </html>
