  <div class="section">
    <h3>$title$</h3>
    
    <div class="person-content">
      $if(portrait)$
        <img class="person-portrait" src="$portrait$" alt="$title$">
      $endif$
      
      $body$
    </div>

  </div>
  <div class="section">
    $if(talks)$
    <div class="divider"></div>
    <h4>Talks</h4>
    $partial("templates/talk-list.html")$
    $endif$

  </div>

  <div class="section">

    $if(posts)$
    <div class="divider"></div>
    <h4>Blog posts</h4>
    $partial("templates/post-list.html")$
    $endif$
  </div>
