.reveal section img {
    border: none;
}

blockquote {
    text-align: left;
}

h1.title {
    font-size: 125%;
}

div.no-bullets li {
    list-style: none;
}

div.left-align {
    text-align: left;
}
