:root {
  --d61-green: rgb(48, 184, 136);
}

#navbarNav .nav-link {
  font-size: 16px;

}
.data61-green {
  background-color: var(--d61-green) !important;
}

.brand-anim-block #qfpl-brand-data61-logo {
  color: black;
  margin: 0.2rem;
  transition: all 0.4s ease-in-out 0s;
}

.card.brand-logo .card-body {
  padding: 0.2rem;
}

.data61-green-text {
  color: var(--d61-green) !important;
}
.data61-border {
  border-color: var(--d61-green) !important;
}

.advance-qld-logo img {
  width: 344.4px;
  height: 67.2px;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .data61-logo {
    text-align: center;
    float: none !important;
  }

  .advance-qld-logo {
    text-align: center;
  }
  .advance-qld-logo img {
    margin-bottom: 0.5rem;
    margin-top: -1.5rem;
    max-width: 20rem;
  }
}

.page-footer {
  padding: 1rem;
}

pre {
  padding: 1rem;
  border: var(--d61-green) 2px solid;
  border-radius: 0.25rem;
  background-color: #F5F5F5;
}

code {
  color: #007A53;
  background-color: #F5F5F5;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

@font-face {
  font-family: UnitRounded;
  src: url("https://www.csiro.au/themes/default/font/UnitRoundedWeb-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: UnitRounded;
  src: url("https://www.csiro.au/themes/default/font/UnitRoundedWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: UnitRounded;
  src: url("https://www.csiro.au/themes/default/font/UnitRoundedWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

body {
  font-family: "Open sans", sans-serif;
}

a {
    color: #2FB787;
    font-family: UnitRounded, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #1D2021;
  font-family: UnitRounded, sans-serif;
}

img.location-image  {
  height: 500px;
}

@media only screen and (max-width: 768px) {
  img.location-image  {
    height: 300px;
  }
}

.data61-bottom-line {
  border-bottom: #007A53 solid 2px;
}

.person-portrait {
  float: right;
  border: #007A53 solid 2px;
  height: 200px;
  max-width: 200px;
}
